.container {
    overflow: hidden;
    padding-top: 50px;
}
.table th {
    color: white;
    background-color: #424242;
}

.table td {
    color: white;
    background-color: #424242;
}

.mat-card {
    max-height: calc(100vh - 4em);
}

.container-table {
    max-height: 400px;
    overflow: auto;
}