<div class="container">  
    <mat-card>  
        <mat-toolbar color="accent">  
          <div align="center" style="color:white;text-align: right;">  
            Cadastro de Itens da Venda  
          </div>    
        </mat-toolbar>  
      <br><br>  
        <mat-card-content>  
          <form [formGroup]="vendaItemForm"(ngSubmit)="onFormSubmit()">  
                  <table>  
                    <tr>  
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input type="number" formControlName="vendaId" matTooltip="Id da venda" matInput placeholder="Venda" [value]="vendaId" [readonly]="true">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!vendaItemForm.get('vendaId').value && vendaItemForm.get('vendaId').touched"></span>  
                        </mat-error>  
                      </td> 
                      <td class="tbl1">  
                          <mat-form-field class="demo-full-width">  
                            <input type="number" formControlName="id" matTooltip="Id do item" matInput placeholder="Item" value="0" [readonly]="true">  
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!vendaItemForm.get('id').value && vendaItemForm.get('id').touched"></span>  
                          </mat-error>  
                        </td>  
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">
                          <mat-label>Produto</mat-label>
                          <mat-select formControlName="produtoId" matTooltip="Produto do item" matInput placeholder="Produto">
                              <mat-option *ngFor="let produto of allProdutos | async" [value]="produto.id">
                                  {{produto.pro_descricao}} - {{produto.pro_valor}}
                              </mat-option>                          
                          </mat-select>
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!vendaItemForm.get('produtoId').value && vendaItemForm.get('produtoId').touched"></span>  
                        </mat-error>  
                      </td> 
                      <td class="tbl1">  
                          <mat-form-field class="demo-full-width">  
                            <input type="number" formControlName="venIte_quantidade" matTooltip="Quantidade do item" matInput placeholder="Quantidade">  
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!vendaItemForm.get('venIte_quantidade').value && vendaItemForm.get('venIte_quantidade').touched"></span>  
                          </mat-error>  
                        </td> 
                    </tr>  
                    <tr>  
                      <td></td>  
                      <td class="content-center">  
                        <button type="submit" mat-raised-button color="accent"matTooltip="Gravar" [disabled]="!vendaItemForm.valid">Gravar</button>      
                        <button type="reset" mat-raised-button color="accent"matTooltip="Limpar" (click)="resetForm()">Limpar</button>  
                      </td>  
                    </tr>
                  </table>
                  <div class="content-center">
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{message}}  
                      </p>  
                  </div> 
            <br><br>
            <div class="container-table">
              <table class="table">  
                <tr ngclass="btn-primary">  
                  <th class="tbl2">Id</th>  
                  <th class="tbl2">Produto</th>
                  <th class="tbl2">Quantidade</th>
                  <th class="tbl2">Subtotal</th>
                  <th class="tbl2">Edit</th>
                  <th class="tbl2">Remove</th>  
                </tr>  
                <tr *ngFor="let vendaItem of allVendaItens | async"> 
                  <td class="tbl2">{{vendaItem.id}}</td>  
                  <td class="tbl2">{{vendaItem.ven_produto?.pro_descricao}}</td> 
                  <td class="tbl2">{{vendaItem.venIte_quantidade}}</td> 
                  <td class="tbl2">{{vendaIte_subtotal}}</td>  
                  <td class="tbl2">  
                    <button type="button" class="btn btn-info"matTooltip="Editar"(click)="loadVendaItemToEdit(vendaItem.vendaId)">Editar</button>  
                  </td>
                  <td class="tbl2">  
                      <button type="button" class="btn btn-danger"matTooltip="Remover" (click)="removeVendaItem(vendaItem.vendaId, vendaItem.id)">Remove</button>  
                    </td>  
                </tr>      
              </table> 
            </div>         
          </form>  
        </mat-card-content>  
      </mat-card>  
  </div>  