.canvas {
    display:flex;
    top:4em;
}
.container {
    padding-top: 50px;
    overflow: hidden;
}
.table th {
    color: white;
    background-color: #424242;
}

.table td {
    color: white;
    background-color: #424242;
}

.mat-card {
    max-height: calc(100vh - 4em);
    
}

.container-table {
    max-height: 200px;
    overflow: auto;
}
