<div class="container">
    <div class="col-md-12">
        <mat-card>  
            <mat-toolbar color="accent">  
              <div align="center" style="color:white;text-align: right;">  
                Vendas do dia 
              </div>    
            </mat-toolbar>  
          <br><br>  
            <mat-card-content>  
                <div class="container-table">
                  <table class="table">  
                    <tr ngclass="btn-primary">  
                      <th class="tbl2">Id</th>  
                      <th class="tbl2">Vendedor</th>
                      <th class="tbl2">Total</th>
                      <th class="tbl2">Finalizada</th>
                      <th class="tbl2">Observações</th>  
                    </tr>  
                    <tr *ngFor="let venda of allVendas | async"> 
                      <td class="tbl2">{{venda.id}}</td>  
                      <td class="tbl2">{{venda.ven_vendedor?.ven_nome}}</td> 
                      <td class="tbl2">{{venda.ven_total}}</td> 
                      <td class="tbl2">{{venda.ven_finalizada}}</td>  
                      <td class="tbl2">{{venda.ven_obs}}</td>  
                  </table> 
                </div>         
            </mat-card-content>  
          </mat-card> 
    </div>  
    <br>
    <div class="col-md-12">
        <mat-card>  
            <mat-toolbar color="accent">  
              <div align="center" style="color:white;text-align: right;">  
                Vendas do dia 
              </div>    
            </mat-toolbar>  
          <br><br>  
            <mat-card-content>  
              <div class="container-table">
                <table class="table">  
                  <tr ngclass="btn-primary">  
                    <th class="tbl2">Id</th>  
                    <th class="tbl2">Nome</th>
                    <th class="tbl2">Comissao</th>  
                  </tr>  
                  <tr *ngFor="let vendedor of allVendedores | async"> 
                    <td class="tbl2">{{vendedor.id}}</td>  
                    <td class="tbl2">{{vendedor.ven_nome}}</td>
                    <td class="tbl2">{{vendedor.ven_comissao}}</td>  
                  </tr>      
                </table> 
              </div>  
            </mat-card-content>  
          </mat-card> 
    </div>
  </div>

