<header class="fixed-top">
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">    
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
                    <i class="fa fa-bars"></i>
                </button>
                <span class="navbar-brand">
                    <a [routerLink]="['']">SegLabs</a>
                </span>
            </div>
        </nav>
    </div>
</header>