.fixed-top {
    height: 4em;
    background-color: black;
}

.btn-info{
    background-color: grey;
}

.navbar-brand a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}