<div class="container">  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          Cadastro de Produtos  
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="produtoForm"(ngSubmit)="onFormSubmit()">  
                <table>  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input type="number" formControlName="id" matTooltip="Id do produto" matInput placeholder="Id do Produto" value="0" [readonly]="true">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!produtoForm.get('id').value && produtoForm.get('id').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input formControlName="pro_descricao" matTooltip="Informe a descrição do produto" matInput placeholder="Descrição do Produto">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!produtoForm.get('pro_descricao').value && produtoForm.get('pro_descricao').touched"></span>  
                      </mat-error>  
                    </td> 
                    <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input type="number" formControlName="pro_valor" matTooltip="Informe valor do produto" matInput placeholder="Valor do Produto">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!produtoForm.get('pro_valor').value && produtoForm.get('pro_valor').touched"></span>  
                        </mat-error>  
                      </td> 
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input type="number" formControlName="pro_estoque" matTooltip="Informe o estoque do produto" matInput placeholder="Estoque do Produto">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!produtoForm.get('pro_estoque').value && produtoForm.get('pro_estoque').touched"></span>  
                        </mat-error>  
                      </td>  
                  </tr>  
                  <tr>  
                    <td></td>  
                    <td class="content-center">  
                      <button type="submit" mat-raised-button color="accent"matTooltip="Gravar" [disabled]="!produtoForm.valid">Gravar</button>      
                      <button type="reset" mat-raised-button color="accent"matTooltip="Limpar" (click)="resetForm()">Limpar</button>  
                    </td>  
                  </tr>
                </table>
                <div class="content-center">
                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                      {{message}}  
                    </p>  
                </div> 
          <br><br>
          <div class="container-table">
            <table class="table">  
              <tr ngclass="btn-primary">  
                <th class="tbl2">Id</th>  
                <th class="tbl2">Descrição</th>
                <th class="tbl2">Valor</th>
                <th class="tbl2">Estoque</th>  
                <th class="tbl2">Edit</th>  
              </tr>  
              <tr *ngFor="let produto of allProdutos | async"> 
                <td class="tbl2">{{produto.id}}</td>  
                <td class="tbl2">{{produto.pro_descricao}}</td> 
                <td class="tbl2">{{produto.pro_valor}}</td> 
                <td class="tbl2">{{produto.pro_estoque}}</td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-info"matTooltip="Editar"(click)="loadProdutoToEdit(produto.id)">Editar</button>  
                </td>  
              </tr>      
            </table> 
          </div>         
        </form>  
      </mat-card-content>  
    </mat-card>  
  </div>  