#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    padding-top: 4em;
    position: absolute;
}

.menu {
    display: flex;
    cursor: pointer;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

li, li:hover, li:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: lightgray;
    color: black;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:grey;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li:hover {
    color: grey;
    background: black;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background: grey;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: grey;
}