<div class="wrapper">
    <nav id="sidebar" [class.active]="classApplied">
        <div class="sidebar-header">
            <h3>Vendas</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Bem vindo!</p>
            <li [routerLink]="['']" class="active" (click)="onClickMenu()">
                <div class="menu">
                    <a class="fa fa-home"></a>
                    <span>Home</span>
                </div>
            </li>
            <li [routerLink]="['vendedor']" (click)="onClickMenu()">
                <div class="menu">
                    <a class="fa fa-user"></a>
                    <span>Vendedores</span>
                </div>
            </li>
            <li [routerLink]="['produto']" (click)="onClickMenu()">
                <div class="menu">
                    <a class="fa fa-cube"></a>
                    <span>Produtos</span>
                </div>
            </li>
            <li [routerLink]="['venda']" (click)="onClickMenu()">
                <div class="menu">
                    <a class="fa fa-shopping-bag"></a>
                    <span>Vendas</span>
                </div>
            </li>
        </ul>
    </nav>
</div>
