<div class="container">  
    <mat-card>  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: right;">  
          Cadastro de Vendas  
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="vendaForm"(ngSubmit)="onFormSubmit()">  
                <table>  
                  <tr>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input type="number" formControlName="id" matTooltip="Id da venda" matInput placeholder="Id da venda" value="0" [readonly]="true">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!vendaForm.get('id').value && vendaForm.get('id').touched"></span>  
                      </mat-error>  
                    </td>  
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">
                        <mat-label>Vendedor</mat-label>
                        <mat-select formControlName="vendedorId" matTooltip="Vendedor responsável pela venda" matInput placeholder="Vendedor">
                            <mat-option *ngFor="let vendedor of allVendedores | async" [value]="vendedor.id">
                                {{vendedor.ven_nome}}
                            </mat-option>                          
                        </mat-select>
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!vendaForm.get('vendedorId').value && vendaForm.get('vendedorId').touched"></span>  
                      </mat-error>  
                    </td> 
                    <td class="tbl1">  
                      <mat-form-field class="demo-full-width">  
                        <input type="date" formControlName="ven_data" matTooltip="Data da venda" matInput placeholder="Data" [readonly]="true">  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!vendaForm.get('ven_data').value && vendaForm.get('ven_data').touched"></span>  
                      </mat-error>  
                    </td>
                    <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input type="number" formControlName="ven_total" matTooltip="Valor total da venda" matInput placeholder="Valor Total" [readonly]="true">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!vendaForm.get('ven_total').value && vendaForm.get('ven_total').touched"></span>  
                        </mat-error>  
                      </td> 
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="ven_finalizada" matTooltip="Venda Finalizada" matInput placeholder="Finalizada" [readonly]="true">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!vendaForm.get('ven_finalizada').value && vendaForm.get('ven_finalizada').touched"></span>  
                        </mat-error>  
                      </td>
                      <td class="tbl1">  
                        <mat-form-field class="demo-full-width">  
                          <input formControlName="ven_obs" matTooltip="Observações da venda" matInput placeholder="Observações">  
                        </mat-form-field>  
                        <mat-error>  
                          <span *ngIf="!vendaForm.get('ven_obs').value && vendaForm.get('ven_obs').touched"></span>  
                        </mat-error>  
                      </td>  
                  </tr>  
                  <tr>  
                    <td></td>  
                    <td class="content-center">  
                      <button type="submit" mat-raised-button color="accent"matTooltip="Gravar" [disabled]="!vendaForm.valid">Gravar</button>      
                      <button type="reset" mat-raised-button color="accent"matTooltip="Limpar" (click)="resetForm()">Limpar</button>  
                    </td>  
                  </tr>
                </table>
                <div class="content-center">
                    <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                      {{message}}  
                    </p>  
                </div> 
          <br><br>
          <div class="container-table">
            <table class="table">  
              <tr ngclass="btn-primary">  
                <th class="tbl2">Id</th>  
                <th class="tbl2">Vendedor</th>
                <th class="tbl2">Data</th>
                <th class="tbl2">Total</th>
                <th class="tbl2">Finalizada</th>
                <th class="tbl2">Observações</th>  
                <th class="tbl2">Edit</th>
                <th class="tbl2">Visualizar</th>  
              </tr>  
              <tr *ngFor="let venda of allVendas | async"> 
                <td class="tbl2">{{venda.id}}</td>  
                <td class="tbl2">{{venda.ven_vendedor?.ven_nome}}</td> 
                <td class="tbl2">{{venda.ven_data}}</td> 
                <td class="tbl2">{{venda.ven_total}}</td> 
                <td class="tbl2">{{venda.ven_finalizada}}</td>  
                <td class="tbl2">{{venda.ven_obs}}</td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-info"matTooltip="Editar"(click)="loadVendaToEdit(venda.id)">Editar</button>  
                </td>
                <td class="tbl2">  
                    <button type="button" class="btn btn-info"matTooltip="Visualizar" [routerLink]="['vendaitem']">Visualizar</button>  
                  </td>  
              </tr>      
            </table> 
          </div>         
        </form>  
      </mat-card-content>  
    </mat-card> 
  </div>
  