<div class="container">  
  <mat-card>  
    <mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: right;">  
        Cadastro de Vendedores  
      </div>    
    </mat-toolbar>  
  <br><br>  
    <mat-card-content>  
      <form [formGroup]="vendedorForm"(ngSubmit)="onFormSubmit()">  
              <table>  
                <tr>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input type="number" formControlName="id" matTooltip="Id do vendedor" matInput placeholder="Id do Vendedor" value="0" [readonly]="true">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!vendedorForm.get('id').value && vendedorForm.get('id').touched"></span>  
                    </mat-error>  
                  </td>  
                  <td class="tbl1">  
                    <mat-form-field class="demo-full-width">  
                      <input formControlName="ven_nome" matTooltip="Informe o nome do vendedor" matInput placeholder="Nome do Vendedor">  
                    </mat-form-field>  
                    <mat-error>  
                      <span *ngIf="!vendedorForm.get('ven_nome').value && vendedorForm.get('ven_nome').touched"></span>  
                    </mat-error>  
                  </td>  
                </tr>  
                <tr>  
                  <td></td>  
                  <td  class="content-center">  
                    <button type="submit" mat-raised-button color="accent"matTooltip="Gravar" [disabled]="!vendedorForm.valid">Gravar</button>      
                    <button type="reset" mat-raised-button color="accent"matTooltip="Limpar" (click)="resetForm()">Limpar</button>  
                  </td>  

                </tr>  
              </table>
              <div class="content-center">
                <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                  {{message}}  
                </p>  
            </div>  
  <br><br>
        <div class="container-table">
          <table class="table">  
            <tr ngclass="btn-primary">  
              <th class="tbl2">Id</th>  
              <th class="tbl2">Nome</th>  
              <th class="tbl2">Edit</th>  
            </tr>  
            <tr *ngFor="let vendedor of allVendedores | async"> 
              <td class="tbl2">{{vendedor.id}}</td>  
              <td class="tbl2">{{vendedor.ven_nome}}</td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-info"matTooltip="Editar"(click)="loadVendedorToEdit(vendedor.id)">Editar</button>  
              </td>  
            </tr>      
          </table> 
        </div>         
      </form>  
    </mat-card-content>  
  </mat-card>  
</div>  